@model PruebaFernandoSalinas.Models.Empleado;

<div class="container">
    <div class="card">
        <div class="card-header">
            Editar UN EMPLEADO
        </div>
        <div class="card-body">
            <form asp-controller="Empleado" asp-action="Edit" method="post">
                <input asp-for="IdEmpleado" type="hidden" />
                <input class="form-control mb-3" type="text" placeholder="Nombre del empleado" required asp-for="NombreEmpleado" />
                <input class="form-control mb-3" type="text" placeholder="Apellido del empleado" required asp-for="ApellidoEmpleado" />
                <input class="form-control mb-3" type="number" placeholder="Edad del empleado" required maxlength="8" asp-for="EdadEmpleado" />
                <input class="form-control mb-3" type="text" placeholder="Direccion del empleado" required asp-for="DireccionEmpleado" />
                <input class="form-control mb-3" type="text" placeholder="Numero del empleado" required asp-for="NumeroTelefono" />
                <input class="form-control mb-3" type="email" placeholder="Correo del empleado" required asp-for="EmailEmpleado" />
                <button class="btn btn-primary">
                    Guardar
                </button>
                @if (ViewData["Mensaje"] != null) //en caso de que si se logre crear el empleado
                {
                    <div class="alert alert-success" role="alert">
                        @ViewData["Mensaje"];
                    </div>
                }
                @if (ViewData["Error"] != null) //en caso de que se produzca un error al crear el empleado
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["Error"];
                    </div>
                }
            </form>
        </div>
    </div>
</div>


